@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
	--font-sans: "Plus Jakarta Sans", sans-serif;
	--title-font-family: "Manrope", sans-serif;
	
	--color-primary: #010205;
	--color-secondary: #878C91;
	--color-accent: #f59e0b;
}

.nav-bar{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 110px;
	max-width: 1440px;
	background: grey;
}
h1{
	margin: 5px 5px 0px 5px;
	padding: 0;
	line-height: 1.5rem;
	height: 33px;
	font-family: var(--font-sans);
	font-size: 27px;
	font-weight: bold;
	letter-spacing: -1px;
	text-align: center;
}


.title-and-logo{
	display: flex;
	flex-direction: row;
}



.left-content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 654px;

}
.nav-lists{
	max-height: 20px;
}

.nav-links {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
	gap: 33px;
}

.nav-links .nav-list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 5px 5px 0px 5px;
	font-size: 14px;
	font-family: var(--font-sans);
	font-weight: 600;
}
/* .nav-links li span{
	margin: 5px 5px 0px 5px;

} */



