@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: inherit;
}

body{
	display: block;
	margin: 0;
	padding-inline: 30px;
}

section{
	padding-bottom: 3.5rem;
	margin: 2.25rem;
}

:root{
	--font-sans: "Plus Jakarta Sans", sans-serif;
	--secondary-font-family: "Manrope", sans-serif;
	
	--color-primary: #010205;
	--color-secondary: #878C91;
	--color-accent: #f59e0b;
}
header{
	min-height: 110px;
	width: 100%;
	min-width: unset;
	display: flex;
}

.nav-bar{
	padding: 30px 30px;
	width: 100dvw;
	/* margin-inline: 1.875rem; */
	gap: 20rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.title-and-logo{
	display: flex;
	flex-direction: row;
	margin-inline: 5px;
}
.title-and-logo > a{
	text-decoration: none;
	margin: 5px 5px 0px 5px;
	padding: 0;
	line-height: 1.5rem;
	height: 33px;
	font-family: var(--font-sans);
	font-size: 27px;
	font-weight: bold;
	letter-spacing: -1px;
	text-align: center;
	color: var(--color-primary);
}



.left-content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-width: 654px;
	max-height: 33px;

}
.nav-lists{
	max-height: 20px;
}

.nav-links {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
	gap: 2.063rem;
	white-space: nowrap;
}

.nav-links .nav-list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 5px 5px 0px 5px;
	font-size: 14px;
	font-family: var(--font-sans);
	font-weight: 600;
	gap:7px;
}
.nav-links .nav-list span{
	padding: 0;
	margin-top: 3px;
	/* padding-inline: 5px; */
}
.nav-links .nav-list a{
	text-decoration: none;
	color: var(--color-primary);
}

.right-content{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 50px;
	min-width: 215px;
	gap:9px;
}


.right-content .get-started-btn{
	min-width: 156px;
	min-height: 48px;
	border: 1px solid var(--color-primary);
	border-radius: 50px;
	font-family: var(--secondary-font-family);
	font-weight: bold;
	font-size: 16px;
}

.right-content .bell-logo{
	border-radius: 50%;
	background-color: var(--color-primary);
	min-width: 50px;
	min-height: 50px;
}

 /*Hero Section styles*/



 #hero-section{
	display: flex;
	margin-top: 1rem;
	/* padding: 30px 80px 30px 80px; */
;
	/* justify-content: center; */
	/* align-items: center; */
 }

.hero{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	place-items: center;
	gap: 1px;
	height: 775px;
	width: 100%;
	margin: 0 auto; 
	max-height: calc(100vh - 120px); /* hero takes rest of the screen after navbar */

}
.hero-left, .hero-right{
	margin: 2.25rem;
}

.hero-left{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	height: 34.188rem;
}
.hero-left .top-left-content{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 3rem;
	width: 700px;
	height: 25.313rem;
}
.cta{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap:2.5rem;
}

.hero-left .top-left-content h1{
	font-family: var(--font-sans);
	font-size: 4.5rem;
	font-weight: 600;
	letter-spacing: -3%;
	line-height: 110%;
}

.hero-left .top-left-content p{
	color: #878C91;
	font-family: var(--font-sans);
	font-weight: 500;
	font-size: 16px;
	line-height: 180%;
}
.hero-left .top-left-content .cta-btn{
	border-radius: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.625rem;
	width: 233px;
	height: 3.5rem;
	color: #fff;
	font-family: var(--font-sans);
	background-color: var(--color-primary);
	font-weight: bold;
	letter-spacing: -2%;
	font-size: 1rem;
	white-space: nowrap;
	cursor: pointer;
}

.hero-left .top--left-content .cta-link, a{
	color: var(--color-primary);
	font-family: var(--font-sans);
	cursor: pointer;
}

.bottom-left-content{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 33px;
	gap: 4rem
}

.bottom-left-content p{
	word-wrap: break-word;
	font-family: var(--font-sans);
	color: var(--color-primary);
	font-size: 14px;
	font-weight: 600;
	line-height: 180%;
	width: 9.4rem;
}

.hero-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	width: 700px;
	height: 547px;
}
.bg-image{
	background-image: url("./assets/hero-right-rectangle");
}
.inner-top{
	text-align: center;
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	height: 17.5625rem; /* 281px*/
}
/* .grid-top-right, .grid-top-left{
} */

.grid-top-right{
	background-color:#F0F0F0;
	border-radius: 1.375rem; /* 22 pixels */
	gap: 1.8875em;
}
.grid-top-right > h2{
	font-family: var(--font-sans);
	font-weight: bold;
	letter-spacing: -3%;
	font-size: 5.25em; /*/84 pixels */
}
.grid-top-right > p{
	font-family: var(--font-sans);
	font-size: 1rem;
	font-weight: 500;
	color: #5C5D5F;
	line-height: 150%;
}





/* bottom right hero section (its dine do not touch) */

.inner-bottom{
	min-height: 13.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* background-color: #b3abab; */
	padding-inline: 0.94rem ;
	color:#fff;
	background-color: #010205;
	border-radius: 1.25rem;
}
.inner-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 2rem;
}
.small-text{
	display: inline-flex;
	flex-direction: row;
	justify-items: start;
	/* display: flex;
	flex-direction: ; */
	font-size: 0.875rem;
	font-weight: 600;
	font-family: var(--font-sans);
	gap:0.813rem;
	margin: 0;
}
.big-text{
	font-size: 2rem;
	font-weight: 600;
	font-family: var(--font-sans);

}

.blocks{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 0.625rem;
	
}

/*Services section */

.services-container{

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* background-color: #5C5D5F; */
	width: 100%;
	min-height: 44.75rem; /*716px */
	gap: 0.625rem; /* 10px */
}

.service-header{
	min-height: 6.4375rem; /* 103px */
	background-color: #f59e0b;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: .5rem;
	width: 100%;
	min-height: 6.4375rem;
}

.service-header h3, .service-header p{
	flex: 1;
	box-sizing: border-box;
}


.service-header h3{
	font-size: 3rem; /* 48px */
	font-family: var(--font-sans);
	font-weight: 600;
	line-height: 130%;
	letter-spacing: -3%;
	flex-wrap: wrap;

}
.service-header p{
	font-family: var(--font-sans);
	font-size: 1rem;
	line-height: 180%;
	color:var(--color-secondary);
	word-break: normal;
}
.bottom-services{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;;
	/* align-items: center; */
}

.projects{
	background-color: var(--color-primary);
	border-radius: 1.875rem;
	min-height: 23.875rem; /* 382px */
	max-width: 27.375rem; /* 438px */
	padding: 1.3rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;
}

.projects h2, span{
	color: #F0F0F0;
	font-size: 5.25rem;
	font-family: var(--font-sans);
	letter-spacing: -3%;
	line-height: 150%;
}

.projects .top-section{
	gap: 27px;
}

.projects h2{
	color: #F0F0F0;
}
.projects span{
	color: #99CF63;
}
.projects p{
	color: #878C91;
	font-family: var(--font-sans);
	font-weight: 500;
	font-size: 19px;
	letter-spacing: 0%;
}

.project-circles{
	/* background-color: #5C5D5F; */
	gap: 7px;
	min-height: 4.375rem; /* 70px */
	max-width: 22.3125rem; /* 357px */

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.circle-card{
	color: #C6C6C6;
	background-color: #C6C6C6;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.plus-card{
	font-size: 4.625rem;
	color:#fff;
	line-height: 150%;
	font-weight: bold;
}

.service-video{
	width: 818px;
	height: 382px;
	border-radius: 30px;

	background-color: #CCB2B2;

	position: relative;

	font-family: var(--font-sans);
	font-weight: 600;
	line-height: 140%;
	font-size: 48px;
	letter-spacing: 27%;
	color: #fff;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.video-button{
	border-radius: 50%;
	width: 163px;
	height: 163px;
	background-color: #99EA48;
	border: 15px solid #fff;
	position: absolute;
	right: -20px;
	bottom: -20px;
}




